<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Tạo tài khoản thành công</title>
		<style>
			.container h1 { font-size: 20px; }
		</style>
	</head>
	<body>
		<div class='container'>
			<h1>Chúc mừng {{lastName}} đã tạo tài khoản thành công!</h1>
			<span style='margin-bottom: 10px'>Tài khoản: {{email}}</span>
			<img
				style='width: 100%'
				src='https://www.visithcmc.vn/uploads/0000/6/2021/08/22/hcmc-1120046774-1.jpg'
				alt=''
			/>
		</div>
	</body>
</html>