<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Khôi phục mật khẩu!</title>
		<style>
			.container h1 { font-size: 20px; }
		</style>
	</head>
	<body>
		<div class='container'>
			<span>Mã bảo vệ tạo mật khẩu mới: {{number}}</span>
			<span>* Mã khôi phục có thời hạn trong vòng 5 phút *</span>
			<img
				style='width: 100%'
				src='https://www.visithcmc.vn/uploads/0000/6/2021/08/22/hcmc-1120046774-1.jpg'
				alt=''
			/>
		</div>
	</body>
</html>