<%- include('partials/header-admin.html') -%>
<%- include('partials/navbar-admin.html') -%>
<div class="content">
  Thêm sản phẩm
  <div class="container">
    <form id="form">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Tên Sách</label>
        <input type="text" class="form-control shadow-none" placeholder="Tên sách" id="tenSach">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mô tả</label>
        <textarea class="form-control shadow-none" rows="3" id="moTa"></textarea>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Giá</label>
        <input type="number" class="form-control shadow-none" placeholder="Tên sách" id="gia">
      </div>
      <label for="exampleDataList" class="form-label">Loại sách</label>
      <input class="form-control shadow-none" list="datalistOptions" placeholder="Nhập loại ..." id="idLoai">
      <datalist id="datalistOptions">
        <option value="Lịch sử">
        <option value="Văn học">
        <option value="Nghệ thuật sống">
        <option value="Đời sống">
        <option value="Thiếu nhi">
      </datalist>
      <div class="mb-3">
        <label for="formFile" class="form-label">Ảnh bìa</label>
        <input class="form-control shadow-none" type="file" id="urlHinh" name="urlHinh">
      </div>
      <div class="mb-3 form-check">
        <input class="form-check-input shadow-none" type="checkbox" value="1" checked id="anHien">
        <label class="form-check-label" for="flexCheckChecked">
          Hiện sách
        </label>
      </div>
      <div class="mb-3">
        <button id="addbook" type="submit" class="btn btn-success">Thêm sách</button>
      </div>
    </form>
  </div>
</div>
<%- include('partials/footer-admin.html') -%>
</body>
<!-- JS -->
<script src="/admin-addbook.js"></script>

</html>